body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.logo {
    padding-left: 20px;
    padding-top: 20px;
}

.nav ul {
    position: absolute;
    top: 50px;
    left: 25%;
    display: table;
    margin: 0 auto;
    padding: 0 ;
    width: 50%;
    text-align: center;
}
    
nav li {
    display: table-cell;
    min-width: 50px;
}
    
nav a {
    display: block;
    width: 100%;
    text-decoration: none;
    color: #555;
    padding-bottom: 5px;
}

nav li:hover {
    color: #E7DA66;
    border-bottom: 3px solid #F0E475;
}

/*the tags between line 41 to line 99 are for making the social media icon fancy*/

.icon {
    position: absolute;
    right: 10%;
    top: 25px;
    list-style: none;
    overflow: hidden;
    margin-bottom: 0;
}

.icon li {
    list-style: none;
    float: left;
    margin: 0 8px 8px 0;
    padding: 0;
}

.icon li a::before {
    background-color: #eee;
    -webkit-border-radius: 2px;
    border-radius: 50%;
    color: #333;
    display: inline-block;
    font-family: FontAwesome;
    font-size: 16px;
    height: 40px;
    line-height: 40px;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    text-align: center;
    width: 40px;
}

.icon li a:hover::before {
    color: #fff;
}

.icon li a[href*="twitter.com"]::before {
    content: "\f099";
}

.icon li a[href*="twitter.com"]:hover::before {
    background-color: #55acee;
}

.icon li a[href*="instagram.com"]::before {
    content: "\f16d";
}

.icon li a[href*="instagram.com"]:hover::before {
    background-color: #CF2E92;
}

.icon li a[href*="facebook.com"]::before {
    content: "\f09a";
}

.icon li a[href*="facebook.com"]:hover::before {
    background-color: #3b5998;
}

h1, h2 {
    text-align: center;
}

h1 {
    font-size: 80px;
}

h2 {
    font-size: 40px;
}

p {
    width: 80%;
    font-size: 18px;
    text-align: center;
    margin-top: 0;
    padding-top: 0;
    padding-left: 150px;
    padding-bottom: 20px;
}

.skip-links {
    text-align: center;
}

.skip-links ul {
    margin: 0 ;
    padding: 0 ;
}

.skip-links li {
    list-style: none;
    display: inline-block;
    width: 17%;
    min-width: 90px;
}

.skip-links li:not(:last-child) {
    border-right:2px solid #ddd;
}

.skip-links a {
    text-decoration: none;
    color: #333;
}

.skip-links a:hover {
    color:#F7CB4D;
    border-bottom:2px solid #F7CB4D;
}

footer {
    background-color: lightsteelblue;
    margin-top: 20px;
}

.logo-footer {
    padding-left: 30px;
    padding-top: 30px;
}

#nav a {
    display: block;
    width: 100%;
    text-decoration: none;
    color: black;
    text-align: center;
}

#nav ul {
    display: table;
    margin: 0 auto;
    padding: 0 ;
    width: 30%;
    text-align: center;
    position: relative;
    top: -35px;
    padding: 0;
}

.socialmedia {
    position: absolute;
    right: 10%;
    top: 825px;
    list-style: none;
    overflow: hidden;
}

.socialmedia li {
    list-style: none;
    float: left;
    margin: 0 8px 8px 0;
    padding: 0;
}

.socialmedia li a::before {
    background-color: #eee;
    -webkit-border-radius: 2px;
    border-radius: 50%;
    color: #333;
    display: inline-block;
    font-family: FontAwesome;
    font-size: 16px;
    height: 40px;
    line-height: 40px;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    text-align: center;
    width: 40px;
}

.socialmedia li a:hover::before {
    color: #fff;
}

.socialmedia li a[href*="twitter.com"]::before {
    content: "\f099";
}

.socialmedia li a[href*="twitter.com"]:hover::before {
    background-color: #55acee;
}

.socialmedia li a[href*="instagram.com"]::before {
    content: "\f16d";
}

.socialmedia li a[href*="instagram.com"]:hover::before {
    background-color: #CF2E92;
}

.socialmedia li a[href*="facebook.com"]::before {
    content: "\f09a";
}

.socialmedia li a[href*="facebook.com"]:hover::before {
    background-color: #3b5998;
}

.NKMedia {
    position: relative;
    top: -15px;
    margin-bottom: 0;
}

input {
    height: 30px;
    width:80%;
    text-align: center;
}

label {
    width: 10%;
}

textarea {
    height: 100px;
    width: 80%;
    text-align: center;
}

.form {
    width: 80%;
    padding-left: 250px;
    background-color: #F0E475;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 30px;
}

button {
    text-align: center;
    font-size: 20px;
    position: relative;
    left: 38%;
    margin-top: 20px;
}
